/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*
  END CSS RESET
*/


*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
        }

.App {
  margin: 0 auto;
  width: 600px;
  text-align: center;
  vertical-align: top;
}

.Clearfix, .Clearfix:after {
  clear: both;
}

.Title {
  font-family: 'Bungee Outline', cursive;
  font-style: italic;
  font-size: 5em;
  margin-bottom: 20px;
background: -webkit-linear-gradient(left, rgba(241,231,103,1) 0%, rgba(254,182,69,1) 100%);
background: -o-linear-gradient(left, rgba(241,231,103,1) 0%, rgba(254,182,69,1) 100%);
background: linear-gradient(to right, rgba(241,231,103,1) 0%, rgba(254,182,69,1) 100%);
}

.Instructions {
  margin-bottom: 40px;
}

div.Toolbar {
  margin-bottom: 20px;
}

.Toolbar a {
  font-family: 'Bungee', cursive;
  font-size: 1.2em;
  border: 2px solid black;
  border-radius: 8px;
  padding: 10px;
  margin: 10px;
}

.Toolbar a:hover {
  background-color: skyblue; 
  cursor: pointer; 
}

ul.Ops {
  display: inline-block;
}

li {
    font-family: 'Bungee', cursive;
    font-size: 1.5em;
}

li.btn {
  float: left;
  padding: 10px;
  margin: 10px;
  border: 2px solid black;
  border-radius: 8px;
  width: 40px;
}

li:hover.btn {
  background-color: skyblue; 
  cursor: pointer; 
}

div.Ops {
  margin: 25px;
}

.Ops span {
  border: 2px solid black;
  border-radius: 8px;
  padding: 10px;
  margin: 10px;
  text-align: center;
  font-weight: bold;
}

ul.hlist {
  display: inline-block;
}

ul.vlist {
  display: inline-block;
  text-align: center;
}

.vlist li {
  float: none;
}

li.card {
  float: left;
  padding: 5px;
  margin: 5px;
  border: 1px dashed grey;
}

li.card-first {
  float: left;
  padding: 5px;
  margin: 5px;
}

li.card:hover, li.eqn-active:hover {
  background-color: skyblue;
  cursor: pointer;
}

li.eqn {
  padding: 5px;
  margin: 5px;
}

li.eqn-active {
  border: 1px dashed grey;
}

.small-detail {
  font-size: 0.5em;
  vertical-align: center;
}

.board-placeholder {
  background-color: whitesmoke;
  font-style: italic;
  font-size: 0.8em;
  padding: 10px;
  margin: 20px 0px;
  -webkit-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);

}

.win {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: 15%;
  width: 600px;
  background: red;
  animation-name: celebrate;
  animation-timing-function: ease-in-out;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  padding: 100px;
}

.win h2 {
  font-family: 'Bungee Outline', cursive;
  font-style: italic;
  font-size: 5em;
  margin-bottom: 40px;
}

@keyframes celebrate {
  0% {
    background: red;
  }
  
  25% {
    background: magenta;
  }
  
  75% {
    background: cyan;
  }
  
  100% {
    background: orange;
  }
}

.win-back {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height:100%;
  background-color: rgba(1,1,1, 0.75);
}

footer {
  margin-top: 40px;
}

footer p {
  padding: 5px;
}